<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.jpeg" class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Zarate Suarez Lucas Leandro</p>
    <p>Full Stack Developer Jr</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-2">
    <span>
        <h1>Acerca de mí</h1>
        <p>Dominio de PHP, MySQL, HTML5, CSS3 y Javascript

            Conocimiento de las bases de datos MySQL, PostgreSQL
            
            Capacidad de liderazgo y trabajo en equipo
        </p>
    </span>
</div>
</div>
