<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-11">
        <div class="col-lg-1"></div>
    <ul>
    <li><h1>"Séprogramar"</h1> - <h3>(1 año)</h3></li>
    <p>Curso finalizado de programación del programa Argentina Programa con la certificación aprobada de “#Séprogramar”.</p>
        </ul>
        <ul>
            <li><h1>"AutoCAD 2D"</h1> - <h3>(1 año)</h3></li>
            <p>Curso realizado en la Universidad Tecnológica Nacional, Facultad Regional Tucumán con la certificación aprobada.</p>
                </ul>
                <ul>
                    <li><h1>"Instalaciones Eléctricas Domiciliarias"</h1> - <h3>(1 año)</h3></li>
                    <p>Curso realizado en la Universidad Tecnológica Nacional, Facultad Regional Tucumán con la certificación aprobada.</p>
                        </ul>
    </div>
    </div>
