<div class="row">
<h1>Experiencia laboral</h1>
<div class="col-lg-11">
    <div class="col-lg-1"></div>
<ul>
<li><h1>Cooperativa Municipal</h1> - <h3>(3 años)</h3></li>
<p>Trabajé en una cooperativa perteneciente a la Municipalidad de San Miguel de Tucumán, prestando servicios de Mantenimiento(electricista) y Relevamiento(chofer) a la dirección de alumbrado público del municipio capitalino.</p>
    </ul>
    <ul>
        <li><h1>YPF</h1> - <h3>(1 año)</h3></li>
        <p>Trabajé en una estación de servicio YPF de red abanderada, desempeñando mis tareas como vendedor de playa.</p>
            </ul>
            <ul>
                <li><h1>Municipalidad de San Miguel de Tucumán</h1> - <h3>(1 año a la actualidad)</h3></li>
                <p>Trabajo como técnico informático en el centro de operaciones y monitoreo de la municipalidad de San Miguel de Tucumán.</p>
                    </ul>
</div>
</div>